<ion-content [fullscreen]="true">
  <div class="login__wrap">
    <div class="login__back">
      <div class="login__title">LOGIN/SIGN UP</div>
      <div class="login__inner">
        <div class="inner__title">WELCOME TO ZAM-STEP</div>
        <div class="input__inner">
          <input [(ngModel)]="username" type="text" placeholder="Email address" class="input__block">
        </div>
        <div class="input__inner">
          <input [(ngModel)]="password" type="text" placeholder="Password" class="input__block">
        </div>
        <div class="btns">
          <div class="btn__login" (click)="login()">LOGIN</div>
          <div class="btn__sign-up" (click)='reg()'>Sign Up</div>
        </div>
      </div>
    </div>
  </div>
</ion-content>