<ion-content [fullscreen]="true">
  <div class="main">
    <div class="main__header">
      <div class="main__logo">LOGO</div>
      <div class="main__avatar">AVA</div>
    </div>
    <div class="main__steps">
      <div class="steps__inner">
        <div class="steps__count">2300</div>
        <div class="steps__text">steps today</div>
      </div>
    </div>
    <div class="main__start">
      <label class="container">
        <div
          class="circle"
          [class.red]="stepCountStarted"
        >
          <span class="start-text" *ngIf="!stepCountStarted" (click)="startStepCount()">
            START
          </span>
          <span class="start-text" *ngIf="stepCountStarted" (click)="stopStepCount()">
            STOP
          </span>
        </div>
      </label>
    </div>
    <div class="main__news"></div>
    <div class="main__shop"></div>
  </div>
  <div class="actions__btn">
    <div class="btn active">
      <mat-icon class="icon" svgIcon="house"></mat-icon>
    </div>
    <div class="btn" (click)="navigateToUser()">
      <mat-icon class="icon" svgIcon="user"></mat-icon>
    </div>
  </div>
</ion-content>
